<!-- overlay -->
<div class="Overlay <% if open? %>Overlay--open<% end %>">
  <div class="Overlay-wrapper <%= @classes[:motion] %>">
    <div class="Overlay-content <%= @classes[:width] %> <%= @classes[:height] %>">
        <%= overlay_content %>
    </div>
  </div>

  <div class="Overlay-backdrop <%= @classes[:backdrop] %>"></div>
</div>

<!--
<%= @classes.inspect %>
<%= @backdrop.inspect %>
<%= @placement.inspect %>
<%= @motion.inspect %>
-->
